data/processed_imuposer
data/processed_imuposer_25fps
data/raw
# experiments
checkpoints
results
ProcessMocap

**/__pycache__/
**/lightning_logs/
**/wandb/
**/*.egg-info/
**/.ipynb_checkpoints/

imuposer_env
.vscode

**/.DS_Store